@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Rubik:wght@400;500&family=Ubuntu:wght@300&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'PT Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    /* overflow-x: hidden; */
}

.home{
    height: 100%;
    width: 100%;
}

.nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    box-sizing: border-box;
    position: fixed;
    background-color: #fff;
    position: fixed;
    top: 0;

    /* position: static; */
    /* border: 2px solid #009f7f; */
}

.left-nav{
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 30px;
}

.logo{
    height: 25px;
    width: auto;
}

.makeup{
    font-size: 20px;
    border: 2px solid #009f7f;
    border-radius: 5px;
    padding: 5px;
    color: #009f7f;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-nav{
    display: flex;
    align-items: center;
    margin-right: 30px;
}

ul{
    display: flex;
    padding: 20px;
    list-style: none;
}

li a{
    padding: 20px;
    text-decoration: none;
    color: rgb(53, 51, 51);
    font-size: 1rem;
    transition: 0.5s;
}

li a:hover{
    color: #009f7f;
}

.navb{
    padding: 10px;
    background-color: #009f7f;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
    margin-left: 10px;
}

.right-fixed{
    background-color: #009f7f;
    height: 100px;
    width: 100px;
    border-radius: 5px;
    position: fixed;
    top: 40%;
    right: 0;
    padding: 10px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right-fixed p{
    color: #fff;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-left: 10px; */
}

.right-fixed button{
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #009f7f;
    cursor: pointer;
}

.home{
    height: 100vh;
    width: 100%;
    background: url(makeup.png);
    background-size: 100% 100%;
}

.cont{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 200px;
    gap: 30px;
    width: 100%;
}

.cont h1{
    font-size: 50px;
}

.cont p{
    font-size: 20px;
}

.cont .input-div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 10px;

    /* width: 100%; */
}

.cont .input-div .main-input{
    width: 40%;
    height: 50px;
    border: none;
    color: #009f7f;
    outline: #009f7f;
    font-size: 1rem;
    box-shadow: 0 10px 10px rgb(235, 226, 226);
    border-radius: 10px 0 0 10px;
    padding: 20px;
}

.cont .input-div .search{
    width: 10%;
    height: 50px;
    background-color: #009f7f;
    border: none;
    color: #fff;
    box-shadow: 0 10px 10px rgb(235, 226, 226);
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
}

.offer{
    height: 40vh;
    width: 100%;
    flex-basis: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    gap: 20px;
    /* overflow-x: scroll; */
    overflow: hidden;
}

.offer img{
    height: 200px;
    /* padding: 20px; */
}

.large{
    display: flex;
    width: 100%;
    flex-direction: row;
}

.sticky{
    position: sticky;
    top: 80px;
    height: 89vh;
    width: 18%;
    background-color: #fff;
    padding: 20px;
}

.sticky h5{
    padding: 10px;
    font-size: 18px;
}

.sticky h5 a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.795);
}

.item-list{
    width: 82%;
    background-color: rgb(235, 234, 233);
    gap: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.product{
    width: 250px;
    height: 300px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    transition: 0.5s;
}

.product:hover{
    box-shadow: 5px 5px 5px #3f776c60;
}

.product img{
    width: 180px;
    height: 180px;
    user-select: none;
}

.product h6{
    font-size: 14px;
}

.product p{
    font-size: 13px;
    margin-top: 5px;
}

.product .img-divd{
    display: flex;
    align-items: center;
    justify-content: center;
}

.text{
    text-align: left;
    float: left;
    /* padding: 0 20px; */

}

.product .price{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
    gap: 140px;
    color: #009f7f;
    font-size: 20px;
    box-sizing: border-box;
}

.product .price .cart{
    padding: 10px;
    background-color: #009f7f;
    border: none;
    color: #fff;
    border-radius: 10px;
}
